.header {
    text-align: center;
    margin-bottom: 20px;
}

.course-details-container {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-description h2, .course-description h3 {
    color: #df6b24;
}

.course-description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.book-now-btn {
    background-color: #df6b24;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s;
}

.book-now-btn:hover {
    background-color: #dba000;
}